﻿@model Mangapedia.Models.Manga

@{
    Layout = "MyLayout";
    ViewData["Title"] = "Ajouter un nouveau Manga";
}
<style>
    body {
        background: url('/images/giphy (11).gif') no-repeat center center fixed;
        background-size: contain;
        height: 100vh;
        overflow: hidden;
        color: #fff;
    }

    /* Ajouter une ombre portée aux éléments */
    h2, label, input[type="text"], input[type="date"], select, textarea {
        text-shadow: 2px 2px 5px rgba(0,0,0,0.5); /* Décalage horizontal, décalage vertical, flou, couleur */
    }
</style>

<h2>@ViewData["Title"]</h2>

<form asp-controller="Manga" asp-action="AddManga" method="post">
    <div class="form-group">
        <label asp-for="Title">Titre</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Synopsis">Synopsis</label>
        <textarea asp-for="Synopsis" class="form-control"></textarea>
        <span asp-validation-for="Synopsis" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PublicationDate">Date de Publication</label>
        <input asp-for="PublicationDate" class="form-control" type="date" />
        <span asp-validation-for="PublicationDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl">URL de l'Image</label>
        <input asp-for="ImageUrl" type = "file" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AuthorId">Auteur</label>
        <select asp-for="AuthorId" asp-items="@(new SelectList(ViewBag.Authors, "AuthorId", "Name"))" class="form-control">
            <option value="">Sélectionnez un auteur</option>
        </select>
        <span asp-validation-for="AuthorId" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </div>
</form>

<div class="mt-3">
    <a class="btn-styled" href="/Home/Accueil">Retour</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
