﻿@model IEnumerable<Mangapedia.Models.Manga>

@{
    Layout = "MyLayout";
    ViewData["Title"] = "Supprimer un Manga";
}
<style>
    body {
        background: url('/images/dbz.gif') no-repeat center center fixed;
        background-size: contain;
        height: 100vh;
        overflow: hidden;
        color: #fff;
    }
</style>
<h2>@ViewData["Title"]</h2>

@if (Model.Any())
{
        <form asp-controller="Manga" asp-action="DeleteManga" method="post">
            <div class="form-group">
                <label for="mangaId">Choisissez le Manga à supprimer :</label>
                <select id="mangaId" name="mangaId" class="form-control">
                @foreach (var manga in Model)
                {
                            <option value="@manga.MangaId">@manga.Title</option>
                }
                </select>
            </div>
            <div class="mt-3"> <!-- Ajout de l'espace en haut -->
                <button type="submit" class="btn btn-danger">Supprimer</button>
            </div>
        </form>
}
else
{
        <p>Aucun manga trouvé.</p>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<div class="mt-3"> <!-- Ajout de l'espace en haut -->
    <a class="btn-styled" href="/Home/Accueil">Retour</a>
</div>
