﻿@model MangaWeb.Models.User

@{
    Layout = "_Layout";
    ViewData["Title"] = "Créer un utilisateur";
}

<style>
    body {
        background: url('/images/dbz.gif') no-repeat center center fixed;
        background-size: cover;
        height: 100vh;
        overflow: hidden;
    }
    /* Ajouter une ombre portée au texte */
    h2, label, .text-danger {
        text-shadow: 2px 2px 5px rgba(0,0,0,0.5); /* Décalage horizontal, décalage vertical, flou, couleur */
    }
</style>

<h2>Créer un utilisateur</h2>

<form asp-controller="User" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Username">Username</label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Créer</button>
</form>
