﻿@model IEnumerable<Mangapedia.Models.Manga>

@{
    Layout = "MyLayout";
    ViewData["Title"] = "Accueil";
}
<style>
    body {
        background: url('/images/goku-vegeta-dragon-5120x2880-15843.jpg') no-repeat center center fixed;
        background-size: cover;
        height: 100vh;
        overflow: hidden;
        color: #fff;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/site.css"> 
    <style>
        .manga-image {
            height: 300px; /* Ajustez la hauteur selon vos besoins */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            @foreach (var manga in Model)
            {
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card mb-4">
                        <img src="@manga.ImageUrl" class="card-img-top img-fluid manga-image" alt="@manga.Title">
                        <div class="card-body">
                            <h5 class="card-title">@manga.Title</h5>
                            <a href="@Url.Action("Details", "Home", new { id = manga.MangaId })" class="btn btn-primary">Voir plus</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
   <div class="container">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-success btn-block mx-1" href="/Manga/AddManga">Ajouter</a>
            <div class="my-2"></div> <!-- Espace entre les boutons -->
            <a class="btn btn-danger btn-block mx-1" href="/Manga/DeleteManga">Supprimer</a>
        </div>
    </div>
</div>

</body>
</html>
