﻿@model Mangapedia.Models.Manga

@{
    Layout = "MyLayout";
    ViewData["Title"] = "Détails du Manga";
}
<link rel="stylesheet" href="/css/site.css">

<div class="card mb-3">
    <img src="@Model.ImageUrl" class="card-img-top manga-image aspect-ratio" alt="@Model.Title">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.Synopsis</p>
        <p class="card-text"><small class="text-muted">@Model.PublicationDate?.ToString("d")</small></p>
    </div>
</div>
<div class="mt-3"> <!-- Ajout de l'espace en haut -->
    <a class="btn-styled" href="/Home/Accueil">Retour</a>
</div>

