﻿@{
    Layout = "_Layout";
    ViewData["Title"] = "Accueil MangaWorld";
}

<style>
    body {
        background: url('/images/giphy.gif') no-repeat center center fixed;
        background-size: contain;
        height: 100vh;
        overflow: hidden;
        color: #fff;
    }

    .welcome-container {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .btn-manga {
        margin: 20px;
        background-color: #ff9800;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 18px;
    }

    .btn-manga:hover {
        background-color: #e68900;
    }
</style>

<div class="welcome-container">
    <h1>Bienvenue sur MangaWorld</h1>
    <p>Découvrez un univers riche en mangas et anime!</p>
    <a href="/Account/Login" class="btn-manga">Se connecter</a>
    <a href="/User/Create" class="btn-manga">S'inscrire</a>
</div>
