﻿@{
    Layout = "_Layout";
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        background: url('/images/zJf.gif') no-repeat center center fixed;
        background-size: contain;
        height: 100vh;
        overflow: hidden;
        color: #fff;
    }

    /* Ajouter une ombre portée au texte */
    h1, p {
        text-shadow: 2px 2px 5px rgba(0,0,0,0.5); /* Décalage horizontal, décalage vertical, flou, couleur */
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
