﻿@model MangaWeb.Models.LoginViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Connexion";
}
<style>
    body {
        background: url('/images/LRP3.gif') no-repeat center center fixed;
        background-size: contain;
        height: 100vh;
        overflow: hidden;
        color: #fff;
    }

    /* Ajouter une ombre portée aux éléments */
    h2, label, input[type="text"], input[type="password"] {
        text-shadow: 2px 2px 5px rgba(0,0,0,0.5); /* Décalage horizontal, décalage vertical, flou, couleur */
    }
</style>

<h2>Connexion</h2>

<form asp-action="Login" asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
    </div>
    <button type="submit" class="btn btn-primary">Connexion</button>
</form>
